h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
a:visited {
  height: fit-content;
  color: var(--em-primary-color);
  padding: var(--em-spacing-s) var(--em-spacing-s);

  &:hover {
    color: var(--em-primary-color-50pct);
  }
}

button {
  display: flex;
  align-items: center;
  gap: var(--em-spacing-m);
  cursor: pointer;
}

ul,
ol {
  margin: unset;
}

:where(*:focus-visible) {
  outline: 2px solid var(--em-primary-color);
}
