h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
a:visited {
  height: fit-content;
  color: var(--em-primary-color);

  &:hover {
    color: var(--em-primary-color-50pct);
  }
}

button {
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

ul,
ol {
  margin: unset;
}
