h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
a:visited {
  display: inline-flex;
  box-sizing: border-box;
  height: fit-content;
  gap: var(--em-spacing-m);
  color: var(--em-primary-color);
  padding: var(--em-spacing-s) var(--em-spacing-s);

  &:hover {
    color: var(--em-primary-color-50pct);
  }
}

button {
  display: flex;
  align-items: center;
  gap: var(--em-spacing-m);
  cursor: pointer;
}

ul,
ol {
  margin: unset;
}

:where(*:focus-visible) {
  outline: 2px solid var(--em-primary-color);
}

article {
  display: flex;
  flex-direction: column;
  gap: var(--em-spacing-m);
  p {
    text-indent: 2ch;
  }
}

details {
  border: 1px solid black;
  border-radius: var(--em-border-radius-m);
  box-sizing: border-box;
  background: var(--em-level-1-background);
  color: var(--em-level-1-contrast);

  summary {
    cursor: pointer;
    padding: var(--em-spacing-l);
    box-sizing: border-box;
  }

  section {
    box-sizing: border-box;
    padding: var(--em-spacing-l) var(--em-spacing-xl);
    padding-top: unset;

    footer {
      display: flex;
      justify-content: space-between;
    }
  }
}
