:host {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 0.5em 3em;
}

.carousel-scroll-area {
  display: flex;
  overflow-x: auto;
  gap: 1em;
  width: 100%;

  box-sizing: border-box;
  scrollbar-width: none;
}

.carousel-scroll-btn {
  position: absolute;
  cursor: pointer;
  height: 80%;
  font-weight: bold;
  background: #1d1d1db5;
  color: #fff;
  border: unset;
  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}
