:host {
  display: block;
  height: fit-content;
  width: fit-content;
  --_animation-time: 500ms;
  padding: var(--em-spacing-m);
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  :host {
    --_animation-time: 0ms !important;
  }
}

:host([can-enlarge]) {
  .carousel-item--wrapper #image {
    cursor: pointer;
  }
}

.carousel-item--wrapper {
  display: contents;
}

.carousel-item--modal {
  display: inline-flex;
  margin: unset;
  padding: unset;
  border: unset;
  background: #000;
  top: var(--_original-top);
  left: var(--_original-left);
  outline-offset: var(--em-spacing-m);

  /** known issue: transform transitions do not work correctly on at least IOS webkit */
  transition:
    transform var(--_animation-time) ease-in-out,
    top var(--_animation-time) ease-in-out,
    left var(--_animation-time) ease-in-out;

  &::backdrop {
    opacity: 0;
    transition: opacity var(--_animation-time) ease-in-out;
  }

  &.full-size {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::backdrop {
      opacity: 1;
    }
  }

  .carousel-item--clone {
    height: var(--_original-height) !important;
    width: var(--_original-width) !important;
    transition:
      height var(--_animation-time) ease-in-out,
      width var(--_animation-time) ease-in-out,
      max-width var(--_animation-time) ease-in-out,
      max-height var(--_animation-time) ease-in-out;
    object-position: center;
    object-fit: contain;

    &.full-size {
      height: 80vh !important;
      max-height: 80vh !important;
      width: var(--_auto-width, auto) !important;
      max-width: 80vw !important;
    }
  }
}

@keyframes move-to-center {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
