:host {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: var(--em-spacing-m);
  gap: var(--em-spacing-l);
}

.carousel-scroll-area {
  display: flex;
  overflow-x: auto;
  align-items: center;
  width: 100%;
  padding: var(--em-spacing-m);
  box-sizing: border-box;
  scrollbar-width: none;
  scroll-padding: var(--em-spacing-l);
}

.carousel-scroll-btn {
  cursor: pointer;
  height: 80%;
  font-weight: bold;
  background: #1d1d1db5;
  color: #fff;
  border: unset;
}
