<footer id='main-footer'>
  <div class='horizontal-container'>
    <a class='link-88-31' href='https://www.rockwood.dev' target='_blank'>
      <img src='https://www.rockwood.dev/assets/button-88x31.gif' />
    </a>
    <a
      class='link-88-31'
      href='https://github.com/ethanmassie/emassie.dev'
      target='_blank'
    >
      <img src='/github-88-31.png' />
    </a>
  </div>
</footer>