<header id="main-header">
  <div class="main-header--start">
    <a id="header-skip-link" class="visually-hidden" href="#main-content">
      Jump to main content
    </a>
    <h1>E-Massie Dot Dev</h1>
  </div>
  <div class="main-header--end">
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
          <li>
          <a href="/">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>