@import "src/styles";

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  border: #252729 1px solid;
  border-radius: 50px;
  margin: .25em;
  color: #FFFFFF;
  background: #252729;
  padding: .5em;
}
