<a [href]="project.githubLink" target="_blank" class="link-unstyle">
  <mat-card class="align-center">
    <div class="align-center">
      <mat-card-title><strong>{{ project.name }}</strong></mat-card-title>
    </div>
    <div class="align-center">
      <mat-card-subtitle>{{ project.description }}</mat-card-subtitle>
    </div>

    <mat-card-content>
      <ul class="list-inline">
        <li *ngFor="let point of project.bulletPoints">{{point}}</li>
      </ul>
    </mat-card-content>
  </mat-card>
</a>
