@import '~@angular/material/theming';
@include mat-core();

$app-primary: mat-palette($mat-blue-gray);
$app-accent: mat-palette($mat-pink, A200, A200, A400);

$app-theme: mat-dark-theme($app-primary, $app-accent);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$light-accent: mat-color($app-accent, 300);

@include angular-material-theme($app-theme);

$custom-typography: mat-typography-config(
  $font-family: 'sans-serif',
  $headline: mat-typography-level(22px, 38px, 700),
  $body-1: mat-typography-level(14px, 22px, 500)
);
@include angular-material-typography($custom-typography);

html, body {
  margin: 0;
  min-height: 100%;
  font-family: sans-serif;
}

ul {
  list-style: circle;
}

.app-header {
  color: $accent;
  border-bottom: $accent solid;
}

.list-inline {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 2em;

  li {
    margin: 1em;
  }

  @media(max-device-width: 600px) {
    justify-content: flex-start;
  }
}

.list-unstyle {
  list-style: none;
  padding: 0;
}

.link-unstyle {
  color: white;
  text-decoration: none;
}

.iconic-link {
  @extend .link-unstyle;

  i {
    color: $light-accent;
    margin: .5em;
  }
}

.align-center {
  display: flex;
  justify-content: center;
}
