@use './themes/light';
@use './themes/dark';
@use './common';
@use './components/link-grid';

:root {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif, Helvetica, Arial;
  --em-border-radius-s: 0.25em;
  --em-border-radius-m: 0.5em;
  --em-border-radius-l: 1em;
  @include dark.theme();

  &[data-theme='light'] {
    @include light.theme();
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  min-height: 100svh;
  background-color: var(--em-level-0-background);
  color: var(--em-level-0-contrast);
}

#main-header,
#main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 64px;
  background-color: var(--em-level-1-background);
  color: var(--em-level-1-contrast);
  padding: 1em 1em;
}

#main-header {
  position: sticky;
  top: 0px;
  .main-header--start {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
  }

  nav {
    ul {
      list-style: none;
      padding: unset;
      margin: unset;
      display: flex;
      gap: 1em;
    }
  }
}

main#main-content {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  position: relative;

  &.app-content {
    flex-direction: column;
    padding: 2em 2em;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;

    .app-information {
      max-width: var(--em-window-max-width);

      section {
        margin-bottom: 1em;
      }

      .app-information--badges {
        display: flex;
        justify-content: flex-end;
        gap: 0.5em;
        align-items: center;
      }
    }
  }
}

#main-footer {
  position: sticky;
  bottom: 0px;
}
