@use './themes/light';
@use './themes/dark';
@use './common';
@use './components/link-grid';
@use './components/cat-carousel';

:root {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif, Helvetica, Arial;
  --em-border-radius-s: 0.25em;
  --em-border-radius-m: 0.5em;
  --em-border-radius-l: 1em;
  --em-border-radius-xl: 2em;

  --em-spacing-s: 0.25em;
  --em-spacing-m: 0.5em;
  --em-spacing-l: 1em;
  --em-spacing-xl: 2em;

  --em-cap-element-height: 60px;

  --_main-vertical-padding: var(--em-spacing-xl);
  --_main-view-port-height: calc(
    100svh -
      ((var(--em-cap-element-height) * 2) + (var(--_main-vertical-padding) * 2))
  );

  @include dark.theme();
}

html,
body {
  height: fit-content;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  min-height: 100svh;
  background-color: var(--em-level-0-background);
  color: var(--em-level-0-contrast);
}

#main-header,
#main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: var(--em-level-1-background);
  color: var(--em-level-1-contrast);
  padding: var(--em-spacing-m) var(--em-spacing-l);
  height: var(--em-cap-element-height);
}

#main-header {
  position: sticky;
  top: 0px;
  .main-header--start {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--em-spacing-m);
  }

  #site-link {
    display: flex;
    flex-direction: row;
    gap: var(--em-spacing-m);
    text-decoration: none;
    color: var(--em-level-1-contrast);
    align-items: center;
  }

  #site-icon {
    height: 40px;
    width: auto;
  }

  nav {
    ul {
      list-style: none;
      padding: unset;
      margin: unset;
      display: flex;
      gap: var(--em-spacing-l);
    }
  }
}

:where(#main-content) {
  flex: 1 1 0;
  padding: var(--_main-vertical-padding);
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  gap: var(--em-spacing-l);
  max-width: var(--em-max-content-width, none);
}

.secondary-nav-container {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  nav.secondary-nav {
    position: fixed;
    left: var(--em-spacing-l);
    top: calc(var(--em-cap-element-height) + var(--em-spacing-l));
    max-height: calc(
      100svh - ((var(--em-cap-element-height) * 2) + (var(--em-spacing-l) * 2))
    );
    --_secondary-nav-width: calc(
      ((100svw - var(--em-max-content-width)) / 2) - (var(--em-spacing-l) * 2)
    );
    max-width: 300px;
    width: var(--_secondary-nav-width);
    box-sizing: border-box;

    ul {
      list-style: none;
      padding: var(--em-spacing-m) 0px;
      display: flex;
      flex-direction: column;
      background: var(--em-level-2-background);
      color: var(--em-level-2-contrast);
      border-radius: var(--em-border-radius-l);
      overflow-y: auto;

      li {
        display: inline-flex;
        a {
          box-sizing: border-box;
          padding: var(--em-spacing-l) var(--em-spacing-l);
          text-align: start;
          min-width: 100%;
          outline-offset: -4px;
        }
      }
    }
  }

  .secondary-nav-content {
    flex: 1 1 0;
    display: flex;

    #main-content {
      padding-left: unset;
      padding: var(--em-spacing-m);
      align-self: flex-start;
      h2 {
        margin: auto;
      }
    }
  }
}

:where(.text-content) {
  --em-max-content-width: 800px;

  &#main-content,
  #main-content {
    align-items: flex-start;
  }
}

:where(.app-content) {
  max-width: var(--em-max-content-width, 950px);

  em-window {
    min-height: min(400px, var(--_main-view-port-height));
  }
  .app-information {
    section {
      margin-bottom: var(--em-spacing-l);
    }

    .app-information--badges {
      display: flex;
      justify-content: flex-end;
      gap: var(--em-spacing-m);
      align-items: center;
    }
  }
}

#main-footer {
  position: sticky;
  bottom: 0px;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 1248px) {
  .secondary-nav-container {
    nav.secondary-nav {
      position: initial;
      max-height: unset;
      max-width: calc(100svw - var(--em-spacing-l));
      width: fit-content;
      padding: var(--em-spacing-l) var(--em-spacing-l);

      ul {
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0px var(--em-spacing-m);
      }
    }
  }
}

@media screen and (max-width: 572px) {
  :root {
    --_main-vertical-padding: var(--em-spacing-s);
  }
  .site-headline {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }

  #main-content {
    padding: var(--em-spacing-s);
  }
}
