@import 'src/styles';

.contact {
  ul li {
    display: inline-block;
    margin: 1em;
  }

  a {
    color: white;
    text-decoration: none;
  }

  i {
    color: mat-color($app-accent, 300);
    margin: .5em;
  }
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  .left-column {
    max-width: 800px;
  }

  .right-column {
    max-width: 500px;
  }

  h2 {
    $header-color: mat-color($app-accent);
    color: $header-color;
    border-bottom: $header-color solid;
  }
}
