
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  .left-column {
    max-width: 800px;
  }

  .right-column {
    max-width: 500px;
  }
}

.projects {
  app-project {
    margin: 1em;
  }
}
